<p id="notice"><%= notice %></p>

<p>
  <strong>Currency:</strong>
  <%= @register.register_currency %>
</p>

<p>
  <strong>Open amount:</strong>
  <%= @register.register_start_amount %>
</p>

<p>
  <strong>Close amount:</strong>
  <%= @register.register_close_amount %>
</p>

<p>
  <strong>Cash Deposit:</strong>
  <%= @register.register_cash_deposit %>
</p>

<p>
  <strong>User:</strong>
  <%= @register.cashier.user_full_name %>
</p>

<%= link_to 'Edit', edit_register_path(@register) %> |
<%= link_to 'Back', registers_path %>
