<p id="notice"><%= notice %></p>

<p>
  <strong>user_login_name:</strong>
  <%= @user.user_login_name %>
</p>

<p>
  <strong>Full name:</strong>
  <%= @user.user_full_name %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.user_role %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
