<p id="notice"><%= notice %></p>

<p>
  <strong>Sale Note:</strong>
  <%= @sale_item.sale_item_note %>
</p>

<p>
  <strong>Sale price:</strong>
  <%= @sale_item.sale_price %>
</p>

<p>
  <strong>Sale:</strong>
  <%= @sale_item.sale.id %>
</p>

<%= link_to 'Edit', edit_sale_item_path(@sale_item) %> |
<%= link_to 'Back', sale_items_path %>
