<p id="notice"><%= notice %></p>

<p>
  <strong>Tax category name:</strong>
  <%= @tax_category.tax_category_name %>
</p>

<p>
  <strong>Tax category rate:</strong>
  <%= @tax_category.tax_category_rate %>
</p>

<%= link_to 'Edit', edit_tax_category_path(@tax_category) %> |
<%= link_to 'Back', tax_categories_path %>
