<%= form_with(model: stock_item, local: true) do |form| %>
  <% if stock_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stock_item.errors.count, "error") %> prohibited this stock_item from being saved:</h2>

      <ul>
      <% stock_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :stock_item_status %>
    <%= form.text_field :stock_item_status, id: :stock_item_stock_item_status %>
  </div>

  <div class="field">
    <%= form.label :stock_item_added_datetime %>
    <%= form.date_select :stock_item_added_datetime, id: :stock_item_stock_item_added_datetime %>
  </div>

  <div class="field">
    <%= form.label :stock_item_sold_datetime %>
    <%= form.date_select :stock_item_sold_datetime, id: :stock_item_stock_item_sold_datetime %>
  </div>

  <div class="field">
    <%= form.label :stock_item_sold_price %>
    <%= form.text_field :stock_item_sold_price, id: :stock_item_stock_item_sold_price %>
  </div>

  <div class="field">
    <%= form.label :order_line_id %>
    <%= form.text_field :order_line_id, id: :stock_item_order_line_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
