<p id="notice"><%= notice %></p>

<p>
  <strong>Product name:</strong>
  <%= @product.product_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.product_description %>
</p>

<p>
  <strong>Order price:</strong>
  <%= @product.product_purchase_price %>
</p>

<p>
  <strong>Product currency:</strong>
  <%= @product.supplier.supplier_currency %>
</p>

<p>
  <strong>Product Supplier:</strong>
  <%= @product.supplier.supplier_name %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
