<%= form_with(model: supplier, local: true) do |form| %>
  <% if supplier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(supplier.errors.count, "error") %> prohibited this supplier from being saved:</h2>

      <ul>
      <% supplier.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :supplier_name %>
    <%= form.text_field :supplier_name, id: :supplier_supplier_name %>
  </div>

  <div class="field">
    <%= form.label :supplier_currency %>
    <%= form.text_area :supplier_currency, id: :supplier_supplier_currency %>
  </div>

  <div class="field">
    <%= form.label :supplier_web_url %>
    <%= form.text_area :supplier_web_url, id: :supplier_supplier_web_url %>
  </div>

  <div class="field">
    <%= form.label :supplier_email %>
    <%= form.text_area :supplier_email, id: :supplier_supplier_email %>
  </div>

  <div class="field">
    <%= form.label :supplier_phone %>
    <%= form.text_area :supplier_phone, id: :supplier_supplier_phone %>
  </div>

  <div class="field">
    <%= form.label :supplier_address_1 %>
    <%= form.text_area :supplier_address_1, id: :supplier_supplier_address_1 %>
  </div>

  <div class="field">
    <%= form.label :supplier_address_2 %>
    <%= form.text_area :supplier_address_2, id: :supplier_supplier_address_2 %>
  </div>

  <div class="field">
    <%= form.label :supplier_city %>
    <%= form.text_area :supplier_city, id: :supplier_supplier_city %>
  </div>

  <div class="field">
    <%= form.label :supplier_region %>
    <%= form.text_area :supplier_region, id: :supplier_supplier_region %>
  </div>

  <div class="field">
    <%= form.label :supplier_postcode %>
    <%= form.text_area :supplier_postcode, id: :supplier_supplier_postcode %>
  </div>

  <div class="field">
    <%= form.label :supplier_country_code %>
    <%= form.text_area :supplier_country_code, id: :supplier_supplier_country_code %>
  </div>

  <div class="field">
    <%= form.label :supplier_notes %>
    <%= form.text_area :supplier_notes, id: :supplier_supplier_notes %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
