<p id="notice"><%= notice %></p>

<p>
  <strong>Supplier name:</strong>
  <%= @supplier.supplier_name %>
</p>

<p>
  <strong>Supplier Currency:</strong>
  <%= @supplier.supplier_currency %>
</p>

<p>
  <strong>Supplier Website:</strong>
  <%= @supplier.supplier_web_url %>
</p>

<p>
  <strong>Supplier E-Mail:</strong>
  <%= @supplier.supplier_email %>
</p>

<p>
  <strong>Supplier Phone:</strong>
  <%= @supplier.supplier_phone %>
</p>

<p>
  <strong>Supplier Address Line 1:</strong>
  <%= @supplier.supplier_address_1 %>
</p>

<p>
  <strong>Supplier Address Line 2:</strong>
  <%= @supplier.supplier_address_2 %>
</p>

<p>
  <strong>Supplier City:</strong>
  <%= @supplier.supplier_city %>
</p>

<p>
  <strong>Supplier Region:</strong>
  <%= @supplier.supplier_region %>
</p>

<p>
  <strong>Supplier Postcode:</strong>
  <%= @supplier.supplier_postcode %>
</p>

<p>
  <strong>Supplier Country:</strong>
  <%= @supplier.supplier_country_code %>
</p>

<p>
  <strong>Supplier Notes:</strong>
  <%= @supplier.supplier_notes %>
</p>

<%= link_to 'Edit', edit_supplier_path(@supplier) %> |
<%= link_to 'Back', suppliers_path %>
