<p id="notice"><%= notice %></p>

<p>
  <strong>Payment method:</strong>
  <%= @sale.sale_payment_method %>
</p>

<p>
  <strong>Register:</strong>
  <%= @sale.register.id %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
